html {
  padding: 0;
  margin: 0;
}
img {
	border: 0;
}
#left {
	position: absolute;
	left: 0;
	width: 250px;
	margin: 0;
	padding: 0;
}
#content {
	margin: 0 190px 0 250px;
	padding: 0;
}
#right {
	position: absolute;
	right: 0;
	width: 190px;
	margin: 0;
	padding: 0;
	top: 108px;
}
body {
	background: url("../img/admin/main.gif") fixed repeat-x bottom center;
	background-attachment: fixed;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	color: #000;
	padding: 0;
	margin: 0;
}
tfoot td { text-align: center; }
#top {
	width: 100%;
	height: 100px;
}
#container {
	position: absolute;
	width: 500px;
	height: 100px;
	top: 200px;
	left: 50%;
	margin-left: -275px;
}
fieldset li {
	list-style-type: none;
	margin-bottom: 10px;
}
fieldset label {
	padding: 0;
	margin: 0;
	float: left;
	width: 100px;
}
h1, .menu_title {
	font-size: 10pt;
	color: #fff;
	border: 1px solid #000;
	background: url("../img/admin/vista_hbg.png") center center;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}
#menu h1 {
	margin: 2px;
}
#menu {
	margin: 10px;
	border: 1px solid #545454;
	background-color: #368DC4;
}
#menu li {
	margin-left: -25px;
	margin-bottom: 8px;
	list-style-type: none;
}
.mbg {
	background-color: #fff;
	margin: 3px;
	padding-bottom: 5px;
}
a, a:link, a:active, a:visited, a:hover {
	color: #002bb8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#menu a, #menu a:link, #menu a:active, #menu a:visited, #menu a:hover {
	background: url("../img/admin/vista_pointer_off.png") no-repeat left center;
	padding-left: 15px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}
#menu a:hover {
	background: url("../img/admin/vista_pointer_on.png") no-repeat left center;
	border-bottom: 1px solid #f00;
}
#content {
	padding: 0 10px 25px 10px;
}
.draggable {
	position: relative;
}
.ntable {
	background-color: #368DC4;
	width: 600px;
	border: solid 1px #545454;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ntable tr {
	background-color: #fff;
}

.ntable th {
	background: url("../img/admin/vista_hbg2.png") center center;
	cursor: move;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #000;
}
.right_bts {
	position: absolute;
	text-align: right;
	right: 4px;
	top: 10px;
}
.mini, .mini:hover {
	cursor: pointer!important;
}
.tdbold, .tdcenter {
	text-align: center;
}
.tdbold {
	font-weight: bold;
}
.red {
	font-weight: bold;
	color: #f00!important;
}
.green {
	font-weight: bold;
	color: #080!important;
}
#topheader {
	text-align: right;
	padding: 10px;
	height: 70px;
	background: url("../img/admin/logo.jpg") no-repeat 10px center;
}
.ug {
	margin-right: 10px;
}
.closediv {
	border-bottom: solid #545454 1px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}
.error, .field_error, .success, .field_success, .warning, .field_warning, .info, .field_info {
	background-repeat: no-repeat;
    background-position: 5px 50%;
    padding: 5px 5px 5px 30px;
}
.field_error, .field_success, .field_warning, .field_info {
	background-repeat: no-repeat;
    background-position: 1px 50%;
    padding: 1px 1px 1px 20px;
}
.error, .success, .warning, .info {
	/* width: 500px; */
}
.error, .field_error  {
	color: #c00;
}
.error {
	background-color: #fee;
	border: 0.1em solid #c00;
	background-image: url("../img/admin/error.png");
}
.field_error {
	background-image: url("../img/admin/error2.png");
}
.success, .field_success {
	color: #090;
}
.success {
	background-color: #efe;
	border: 0.1em solid #090;
	background-image: url("../img/admin/ok.png");
}
.field_success {
	background-image: url("../img/admin/ok2.png");
}
.warning, .field_warning {
	color: #903;
}
.warning {
	background-color: #ffd;
	border: 0.1em solid #903;
 	background-image: url("../img/admin/warning.png");
}
.field_warning {
	background-image: url("../img/admin/warning2.png");
}
.info, .field_info {
	color: #06f;
}
.info {
	background-color: #def;
	border: 0.1em solid #06f;
 	background-image: url("../img/admin/info.png");
}
.field_info {
	background-image: url("../img/admin/info2.png");
}
.center {
	text-align: center;
}
.link_a, .link_b {
	background-color: #F6FCFF;
	max-width: 400px;
	padding: 5px;
	border: 1px solid #DAF2FC;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
}
.link_b {
	margin: 0 10px 0 10px;
}
.link_a {
	top: 10px;
	right: 10px;
	position: absolute;
}
.button, .button:hover {
	background: url("../img/admin/vista_hbg.png") center center;
	border: 1px solid #575858;
	margin: 0 5px;
	padding-right: 10px;
	padding-left: 10px;
	color: #fff;
	cursor: pointer;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.button:hover {
	background: url("../img/admin/vista_btact.png") center center!important;
}
.tab {
	position: absolute;
	bottom: 5px;
	left: 1px;
}
.tab a, .tab a:hover {
	color: #fff;
	font-weight: bold;
	background: url("../img/admin/vista_hbg.png") center center;
	border: 1px solid #000;
	padding: 3px 40px 3px 40px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.tab a:hover {
	background: url("../img/admin/vista_btact.png") center center;
	cursor: pointer;
	text-decoration: none;
}
.config-input-field {
	padding: 5px 0 5px 20px;
}
.char {
	width: 500px;
}
.integer {
	width: 100px;
}

#layer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/admin/layer.png) repeat; display: none; z-index: 1000; }
#popup { font-size: 9pt; color: #FFFFFF; display: none; z-index: 1001; padding: 1em; text-align: center; position: absolute; top: 30%; left: 50%; width: 400px; margin-left: -200px; background-color: #2C3554; border: 5px solid #39435C; }
#popupHeading { margin: 0 0 1.5em 0; font-weight: bold; font-size: 1.5em; }
a.closePopup { display: block; margin-top: 2em; text-align: right; color: #B6C6E5; font-weight: bold; text-decoration: none; }
a.closePopup:hover { text-decoration: underline; }