@CHARSET "UTF-8";

#layer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/layer.png) repeat; display: none; z-index: 1000; }
.overlay { display: none; position: absolute; top: 200px; padding-right: 20px; background-color: #fff; border: 3px solid #368DC4; z-index: 1001; }
.overlay > img { position: absolute; top: 5px; right: 5px; cursor: pointer; }
.overlay table { margin: 0 auto; border-spacing: 2px 5px; }
.overlay table td { padding: 0 1em; }

.ntable { width: auto; }

tr#newFaction { display: none; }

a.showOnly_Link { display: inline-block; padding: 0 2px 0 5px; margin: 0; border-left: 1px solid black; }
a.showOnly_Link:first-child { border-left: none; }

input.number { width: 3em; }
input.medium_number { width: 4em; margin-right: 1em; }
td.shipInput { white-space: nowrap; }
div.shipInput { display: inline; }
img.deleteRow { width: 11px; height: 11px; margin-left: 5px; cursor: pointer; }

div.rewardInput { position: relative; border-top: 1px solid #AAAAAA; padding: 5px 22px 5px 0; }
div.rewardInput:first-child { border: none; padding-top: 0; }
img.deleteReward { width: 11px; height: 11px; position: absolute; top: 5px; right: 5px; cursor: pointer; }
.template img.deleteReward { display: none; }
img.openCloseButton { position: absolute; top: 5px; right: 21px; cursor: pointer; }

table.descriptions { table-layout: fixed; }
table.descriptions tr td:first-child { width: 200px; }
.rewardDetails { margin-top: 0; font-size: 80%; }
#subnav { display: inline-block; background-color: #fff; border: none; border-radius: 8px; -moz-border-radius: 8px; }
#subnav a { display: block; float: left; vertical-align: middle; line-height: 1.4em; padding: 0 5px; background-color: #fff; margin: 5px 8px 5px 0; }
#subnav a:first-child { margin-left: 8px; }

.invisible { display: none; }

tr.queststyle0 {}
tr.queststyle1 { background-color: #EEEEEE; }