<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<production class="menu-prod">
		<main href="Main">MENU_MAIN</main>
		<construction href="Constructions">MENU_CONSTRUCTIONS</construction>
		<resource href="Resource">MENU_RESOURCE</resource>
		<research href="Research">MENU_RESEARCH</research>
		<shipyard href="Shipyard">MENU_SHIPYARD</shipyard>
		<fleet href="Mission">MENU_FLEET</fleet>
		<techtree href="Techtree">MENU_TECHTREE</techtree>
		<galaxy href="Galaxy">MENU_GALAXY</galaxy>
		<defense href="Defense">MENU_DEFENSE</defense>
	</production>
	<user class="menu-user">
		<alliance href="Alliance">MENU_ALLIANCE</alliance>
		<ranking href="Ranking">MENU_RANKING</ranking>
		<statistics href="Statistics">MENU_STATISTICS</statistics>
		<search href="Search">MENU_SEARCH</search>
	</user>
	<other class="menu-other">
		<messages href="MSG">MENU_MESSAGES</messages>
		<friends href="Friends">MENU_FRIENDS</friends>
		<preferences href="Preferences">MENU_PREFERENCES</preferences>
		<logout href="Logout">MENU_LOGOUT</logout>
		<version href="Changelog" func="version"></version>
	</other>
</menu>
<!--
	List of attributes for menu items:
	* external
		"0" - Link is internal (default)
		"1" - Lin is external
	* nolangvar
		"0" - Display name as language variable (default)
		"1" - Item name is no language variable
	* refdir
		"0" - Open external links with redirection page
		"1" - Ommit redirection page
	* target
		Declares target frame to open link
	* class
		Defines CSS-class
	* func
		Deploys a special function on the field
-->
